.header {
  width: 100vw;
  height: 100px;
  padding: 32px 80px 32px 80px;
  background-color: whitesmoke;
  display: flex;

  align-items: baseline;

  top: 0;
}

#name {
  font-family: Courier New;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.25px;
  text-align: left;
}
