.container {
  width: 1, 440px;
  height: auto;
  padding: 160px 80px 160px 80px;
  gap: 370px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.description {
  width: 630px;
  height: 302px;
  gap: 40px;
  opacity: 0px;
}

#text {
  font-family: "Kanit";
  font-size: 20px;
  font-weight: 300;
  line-height: 29.9px;
  text-align: left;
}
.image {
  height: 600px;
  border-radius: 15px;
  margin-right: 0;
}
